.cart-empty {
  font-size: 1.5rem;
}

.cart-checkout {
  text-align: right;
}

a.btn {
  box-sizing: border-box;
  background-color: #cecece;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}