@import "fonts";

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B62126;
  color: #000000;
}

button {
  font-family: 'Roboto', sans-serif;
}

:global(p) {
  margin: 0;
}

:global(.wrapper) {
  max-width: 80%;
  background-color: #ffffff;
  margin-left: 20%;
  margin-top: -100px;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 48px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 48px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 48px -10px rgba(0, 0, 0, 0.75);
}

:global(.btn) {
  text-transform: uppercase;
  border: 1px solid #9c9c9c;
  padding: 10px 20px;
  min-width: 100px;
  border-radius: 2px;
  position: relative;
}

::selection {
  color: #ffffff;
  background-color: #B62126;
}

a:visited {
  color: inherit;
}